body{
  margin: 0;
  padding:  0;
  background: #f1f1f1 url(./images/59612250_107504347129242_1992807513300402176_n.jpg) no-repeat top center;
}

.image-container{
  width: 100%;
  height: 600px;
  position: relative;
}

.iglesia{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.overlay{
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, .7);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.title{
  color: rgba(255,255,255,.75);;
  margin: 0 10%;
  text-align: center;
  width: 100%;
}

.subtitle{
  color: rgba(255,255,255,.75);;
  margin: 0 10%;
  text-align: center;
  width: 100%;
}

.info-container{
  /* box-sizing: border-box; */
}
.custom-img{
  object-fit: cover;
  height: 600px;
}

@media (max-width: 600px){
  .title{
    font-size: 22px;
  }
  .custom-img{
    height: 300px;
  }
} 

